.stock-input {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.stock-input input {
  flex: 1;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #334155;
  background-color: #dbe0e9;
  color: rgb(0, 0, 0);
  outline: none;
}

.stock-input input:focus {
  border-color: #38bdf8;
}

.stock-input button {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  background-color: #38bdf8;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.stock-input button:hover {
  background-color: #0ea5e9;
}